/*.iso
/*.gz
/*.bmap
/*.raw
/*.qcow2
/sbom

usercustomization/class/*
usercustomization/debconf/*
usercustomization/disk_config/*
usercustomization/files/*
usercustomization/hooks/*
usercustomization/package_config/*
usercustomization/scripts/*
!usercustomization/*/.gitkeep
build_tmp/*
ext/*
!build_tmp/.gitkeep
etc_fai/grub.cfg
user_classes.conf
.vscode/
