*.iso
usercustomization/class/*
usercustomization/debconf/*
usercustomization/disk_config/*
usercustomization/files/*
usercustomization/hooks/*
usercustomization/package_config/*
usercustomization/scripts/*
!usercustomization/*/.gitkeep
build_tmp/*
!build_tmp/.gitkeep
etc_fai/grub.cfg
user_classes.conf
