services:
  fai-setup:
    image: fai
    build:
      context: .
    volumes:
      - ext:/ext
      - ./etc_fai:/etc/fai:ro,Z
    privileged: true
    container_name: fai-setup
  fai-cd:
    image: fai
    build:
      context: .
    volumes:
      - ext:/ext
      - ./etc_fai:/etc/fai:ro,Z
      - /dev:/dev
      - /var/tmp/fai-build:/tmp:Z
    privileged: true
    container_name: fai-cd
volumes:
  ext:
